<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ToeflDBConnectionString" connectionString="Data Source=PC2013072818XRI;Initial Catalog=ToeflDB;Persist Security Info=True;User ID=sa;Password=331614307Nokia"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>